<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="../../static/images/main.png" width="1030" height="430" class="navbar-brand-img" alt="Ejemplo de logo">
      </a>
    </div>
    <div class="navbar-inner">
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="#">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_reportes') }}">
              <i class="ni ni-collection text-info"></i>
              <span class="nav-link-text">Reportes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('mis_usuarios') }}">
              <i class="ni ni-bullet-list-67 text-info"></i>
              <span class="nav-link-text">Usuarios</span>
            </a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="#">#}
{#              <i class="ni ni-fat-add text-info"></i>#}
{#              <span class="nav-link-text">Reportes</span>#}
{#            </a>#}
{#          </li>#}
        </ul>
        <!-- Divisor -->
        <hr class="my-3">
      </div>
    </div>
  </div>
</nav>